USE [master]
GO
/****** Object:  Database [CS-B]    Script Date: 25.05.2021 16:09:31 ******/
CREATE DATABASE [CS-B]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS-B', FILENAME = N'E:\programmingi\MSSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\CS-B.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CS-B_log', FILENAME = N'E:\programmingi\MSSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\CS-B_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS-B].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS-B]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [char](32) NOT NULL,
	[BuildingNumber] [smallint] NOT NULL,
	[FlatNumber] [smallint] NULL,
	[PostalCode] [char](6) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cases]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[CaseID] [int] IDENTITY(1,1) NOT NULL,
	[CaseNumber] [int] NOT NULL,
	[Description] [varchar](1) NOT NULL,
	[Answer] [varchar](1) NOT NULL,
	[Status] [varchar](1) NOT NULL,
	[SendDate] [date] NOT NULL,
	[ClosingDate] [date] NULL,
	[IDClient] [int] NOT NULL,
 CONSTRAINT [PK_Case] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [char](16) NOT NULL,
	[LastName] [char](16) NOT NULL,
	[Email] [char](32) NOT NULL,
	[PhoneNumber] [char](9) NOT NULL,
	[IDAddress] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientsCases]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientsCases](
	[IDClient] [int] NOT NULL,
	[IDCase] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientsCredentials]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientsCredentials](
	[IDClient] [int] NOT NULL,
	[IDCredentials] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientsDeliveryPoints]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientsDeliveryPoints](
	[IDClient] [int] NOT NULL,
	[IDDeliveryPoint] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientsInvoices]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientsInvoices](
	[IDClient] [int] NOT NULL,
	[IDInvoice] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credentials]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credentials](
	[CredentialsID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [char](16) NOT NULL,
	[Password] [char](32) NOT NULL,
 CONSTRAINT [PK_Credentials] PRIMARY KEY CLUSTERED 
(
	[CredentialsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [LOG_Credentials] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryPoints]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryPoints](
	[DeliveryPointID] [int] IDENTITY(1,1) NOT NULL,
	[HotWaterMeterNumber] [int] NULL,
	[ColdWaterMeterNumber] [int] NULL,
	[IDAddress] [int] NOT NULL,
 CONSTRAINT [PK_DeliveryPoint] PRIMARY KEY CLUSTERED 
(
	[DeliveryPointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryPointsAddresses]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryPointsAddresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [char](32) NOT NULL,
	[BuildingNumber] [smallint] NOT NULL,
	[FlatNumber] [smallint] NULL,
	[PostalCode] [char](6) NOT NULL,
 CONSTRAINT [PK_DeliveryPointAddress] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [int] NOT NULL,
	[DateOfIssue] [date] NOT NULL,
	[IDMeterReadFrom] [int] NOT NULL,
	[IDMeterReadTo] [int] NOT NULL,
	[Amount] [smallmoney] NOT NULL,
	[IDDeliveryPoint] [int] NOT NULL,
	[IDClient] [int] NOT NULL,
	[IDShippingAddress] [int] NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterReads]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterReads](
	[MeterReadID] [int] IDENTITY(1,1) NOT NULL,
	[HotUsage] [int] NULL,
	[ColdUsage] [int] NULL,
	[ReadDate] [date] NULL,
	[IDDeliveryPoint] [int] NOT NULL,
 CONSTRAINT [PK_MeterRead] PRIMARY KEY CLUSTERED 
(
	[MeterReadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cases]  WITH CHECK ADD  CONSTRAINT [FK_Case_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Cases] CHECK CONSTRAINT [FK_Case_Client]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Client_Address] FOREIGN KEY([IDAddress])
REFERENCES [dbo].[Addresses] ([AddressID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Client_Address]
GO
ALTER TABLE [dbo].[ClientsCases]  WITH CHECK ADD  CONSTRAINT [FK_ClientCase_Case] FOREIGN KEY([IDCase])
REFERENCES [dbo].[Cases] ([CaseID])
GO
ALTER TABLE [dbo].[ClientsCases] CHECK CONSTRAINT [FK_ClientCase_Case]
GO
ALTER TABLE [dbo].[ClientsCases]  WITH CHECK ADD  CONSTRAINT [FK_ClientCase_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[ClientsCases] CHECK CONSTRAINT [FK_ClientCase_Client]
GO
ALTER TABLE [dbo].[ClientsCredentials]  WITH CHECK ADD  CONSTRAINT [FK_ClientCredential_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[ClientsCredentials] CHECK CONSTRAINT [FK_ClientCredential_Client]
GO
ALTER TABLE [dbo].[ClientsCredentials]  WITH CHECK ADD  CONSTRAINT [FK_ClientCredential_Credential] FOREIGN KEY([IDCredentials])
REFERENCES [dbo].[Credentials] ([CredentialsID])
GO
ALTER TABLE [dbo].[ClientsCredentials] CHECK CONSTRAINT [FK_ClientCredential_Credential]
GO
ALTER TABLE [dbo].[ClientsDeliveryPoints]  WITH CHECK ADD  CONSTRAINT [FK_ClientDeliveryPoint_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[ClientsDeliveryPoints] CHECK CONSTRAINT [FK_ClientDeliveryPoint_Client]
GO
ALTER TABLE [dbo].[ClientsDeliveryPoints]  WITH CHECK ADD  CONSTRAINT [FK_ClientDeliveryPoint_DeliveryPoint] FOREIGN KEY([IDDeliveryPoint])
REFERENCES [dbo].[DeliveryPoints] ([DeliveryPointID])
GO
ALTER TABLE [dbo].[ClientsDeliveryPoints] CHECK CONSTRAINT [FK_ClientDeliveryPoint_DeliveryPoint]
GO
ALTER TABLE [dbo].[ClientsInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ClientInvoice_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[ClientsInvoices] CHECK CONSTRAINT [FK_ClientInvoice_Client]
GO
ALTER TABLE [dbo].[ClientsInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ClientInvoice_Invoice] FOREIGN KEY([IDInvoice])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[ClientsInvoices] CHECK CONSTRAINT [FK_ClientInvoice_Invoice]
GO
ALTER TABLE [dbo].[DeliveryPoints]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryPoint_Address] FOREIGN KEY([IDAddress])
REFERENCES [dbo].[DeliveryPointsAddresses] ([AddressID])
GO
ALTER TABLE [dbo].[DeliveryPoints] CHECK CONSTRAINT [FK_DeliveryPoint_Address]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoice_Client]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_DeliveryPoint] FOREIGN KEY([IDDeliveryPoint])
REFERENCES [dbo].[DeliveryPoints] ([DeliveryPointID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoice_DeliveryPoint]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_MeterReadFrom] FOREIGN KEY([IDMeterReadFrom])
REFERENCES [dbo].[MeterReads] ([MeterReadID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoice_MeterReadFrom]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_MeterReadTo] FOREIGN KEY([IDMeterReadTo])
REFERENCES [dbo].[MeterReads] ([MeterReadID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoice_MeterReadTo]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_ShippingAddress] FOREIGN KEY([IDShippingAddress])
REFERENCES [dbo].[Addresses] ([AddressID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoice_ShippingAddress]
GO
ALTER TABLE [dbo].[MeterReads]  WITH CHECK ADD  CONSTRAINT [FK_MeterRead_DeliveryPoint] FOREIGN KEY([IDDeliveryPoint])
REFERENCES [dbo].[DeliveryPoints] ([DeliveryPointID])
GO
ALTER TABLE [dbo].[MeterReads] CHECK CONSTRAINT [FK_MeterRead_DeliveryPoint]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD CHECK  (([PostalCode] like '__-___'))
GO
ALTER TABLE [dbo].[DeliveryPointsAddresses]  WITH CHECK ADD CHECK  (([PostalCode] like '__-___'))
GO
/****** Object:  StoredProcedure [dbo].[pAddUser]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pAddUser]
@login char(16),
@password char(32),
@firstname char(32),
@lastname char(32),
@email char(32),
@phonenumber int,
@streetname char(32),
@buildingnumber int,
@flatnumber int,
@postalcode char(6)
AS

DECLARE 
	@credID int, 
	@clID int,
	@addressID int;

SELECT CredentialsID FROM Credentials WHERE Login = @login;
IF @@ROWCOUNT != 0 begin PRINT 'non-unique data - data not saved' RETURN end
INSERT INTO Credentials VALUES (@login, @password)
SET @credID = SCOPE_IDENTITY()
INSERT INTO Addresses VALUES (@streetname, @buildingnumber, @flatnumber, @postalcode)
SET @addressID = SCOPE_IDENTITY()
INSERT INTO Clients VALUES (@firstname, @lastname, @email, @phonenumber, @addressID)
SET @clID = SCOPE_IDENTITY()
INSERT INTO ClientsCredentials VALUES (@clID, @credID)
GO
/****** Object:  StoredProcedure [dbo].[pGetUser]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pGetUser]
@credentialsID int
AS
DECLARE @clientID int
SET @clientID = (SELECT IDClient FROM [CS-B].[dbo].ClientsCredentials as cr WHERE cr.IDCredentials = @credentialsID)
SELECT 
	[CS-B].[dbo].Clients.FirstName,
	[CS-B].[dbo].Clients.LastName,
	[CS-B].[dbo].Clients.PhoneNumber,
	[CS-B].[dbo].Clients.Email,
	[CS-B].[dbo].Addresses.StreetName,
	[CS-B].[dbo].Addresses.BuildingNumber,
	[CS-B].[dbo].Addresses.FlatNumber,
	[CS-B].[dbo].Addresses.PostalCode
FROM 
	[CS-B].[dbo].Clients
JOIN [CS-B].[dbo].Addresses ON Clients.IDAddress = AddressID
WHERE ClientID = @clientID
GO
/****** Object:  StoredProcedure [dbo].[pUpdateUserData]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pUpdateUserData]
@userLogin nvarchar(16),
@PhoneNumber int = NULL,
@Email nvarchar(32) = NULL,
@StreetName nvarchar(32) = NULL,
@BuildingNumber int = NULL,
@FlatNumber int = NULL,
@PostalCode nvarchar(6) = NULL 
AS
DECLARE @SQLContact nvarchar(1000)
DECLARE @SQLAddress nvarchar(1000)
DECLARE @params nvarchar(1000)
DECLARE @params2 nvarchar(1000)
DECLARE @userID int 
DECLARE @addID int
DECLARE @runClient bit = 0
DECLARE @runAddress bit = 0
SET @SQLContact = 'UPDATE Clients SET '
SET @SQLAddress = 'UPDATE Addresses SET '

IF ISNULL(@PhoneNumber, '') != ''
BEGIN
	SET @SQLContact = @SQLContact + ' PhoneNumber = @xPhoneNumber,'
	SET @runClient = 1
END

IF ISNULL(@Email, '') != ''
BEGIN
	SET @SQLContact = @SQLContact + ' Email = @xEmail,'
	SET @runClient = 1
END

IF ISNULL(@StreetName, '') != ''
BEGIN
	SET @SQLAddress = @SQLAddress + ' StreetName = @xStreetName,'
	SET @runAddress = 1
END

IF ISNULL(@BuildingNumber, '') != ''
BEGIN
	SET @SQLAddress = @SQLAddress + ' BuildingNumber = @xBuildingNumber,'
	SET @runAddress = 1
END

IF ISNULL(@FlatNumber, '') != ''
BEGIN
	SET @SQLAddress = @SQLAddress + ' FlatNumber = @xFlatNumber,'
	SET @runAddress = 1
END

IF ISNULL(@PostalCode, '') != ''
BEGIN
	SET @SQLAddress = @SQLAddress + ' PostalCode = @xPostalCode,'
	SET @runAddress = 1
END

SET @SQLAddress = LEFT(@SQLAddress, LEN(@SQLAddress)-1)
SET @SQLContact = LEFT(@SQLContact, LEN(@SQLContact)-1)

SET @userID = (SELECT CredentialsID FROM [CS-B].[dbo].[Credentials] as t WHERE t.Login = @userLogin)
SET @userID = (SELECT IDClient FROM [CS-B].[dbo].ClientsCredentials as cr WHERE cr.IDCredentials = @userID)
SET @addID = (SELECT IDAddress FROM Clients WHERE ClientID = @userID)

SET @SQLContact = @SQLContact + ' WHERE ClientID = @xuserID'
SET @SQLAddress = @SQLAddress + ' WHERE AddressID = @xAddressID'

SET @params = '@xPhoneNumber int, @xEmail nvarchar(32), @xuserID int'
SET @params2 = '@xStreetName nvarchar(32), @xBuildingNumber int, @xFlatNumber int, @xPostalCode nvarchar(6), @xAddressID int'

IF @runClient = 1 EXEC sp_executesql @SQLContact, @params, @PhoneNumber, @Email, @userID
IF @runAddress = 1 EXEC sp_executesql @SQLAddress, @params2, @StreetName, @BuildingNumber, @FlatNumber, @PostalCode, @addID
GO
/****** Object:  StoredProcedure [dbo].[pUserLogin]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pUserLogin]
@username char(16),
@password char(32)
AS
SELECT CredentialsID FROM [CS-B].[dbo].[Credentials] as t WHERE t.Login = @username AND t.Password = @password
GO
/****** Object:  StoredProcedure [dbo].[pUserRelogin]    Script Date: 25.05.2021 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pUserRelogin]
@username char (16)
AS
SELECT CredentialsID FROM [CS-B].[dbo].[Credentials] as t WHERE t.Login = @username
GO
USE [master]
GO
